configs/ot-sim/node-red.json
[
    {
        "id": "1e4d1406de16ee4d",
        "type": "tab",
        "label": "Wind Farm HMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c7ae6ea8dbc2394",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "8c6809145522f393",
            "3083963ca29d2423",
            "4b6c58ec8b71dd47",
            "219c1fb151be6282",
            "6f956ba5020089af",
            "0c35f29e260f2005",
            "7abcc3377d702d30",
            "d38ca85b5f45d93f",
            "3d79bca41210cbbd",
            "c992d704ba81a2c8",
            "c5c869eb8bccde88",
            "7a13805371e69de5",
            "b15e8a9e07a3075b",
            "e070c38954242d37",
            "78b4396ff5b67210",
            "cffd4e9e525cbff7",
            "baadd5aa5c5ac46c",
            "d2d6bea322e64847",
            "e0890438c866a057",
            "8e786216ee0c58a3",
            "ee65979c52f15882",
            "189251698ec579b8",
            "dc4c8ef6766e7d33",
            "aa5ef85187fef0f7",
            "1970534a2eac1f4a",
            "0c0da14e0271b883",
            "eb4a1fef2e6335dc",
            "65747b326da3f1ad",
            "20bcb6dfd88401ed",
            "5b2918354ff83a76",
            "4b85c0e005805e96",
            "4bc0d216a340aa99",
            "2fdd8c2af66042ae",
            "e6d19971bcbd25c6",
            "3a04c5be718d67d4",
            "2e314e3006671f5e",
            "3f3c1228a168b295",
            "27ad65d6c79c45cc",
            "78369ca698f9a3a8",
            "46a86401caf5cc37"
        ],
        "x": 14,
        "y": 19,
        "w": 1682,
        "h": 722
    },
    {
        "id": "a4d8d1443d1b2647",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "91ba40c0564ceccf",
            "065737e2e4fda77d",
            "ed33b3e6063b1931",
            "b97e0e7ff4c9cf72",
            "80d9db4b9810d25c",
            "622904ac667160e3",
            "269fb68779925fdd",
            "bf7fbab2564038ff",
            "460eaeaa103e16bf",
            "0cd03ae31e140608",
            "97589cd8b6c0ec11",
            "6fcb7aa21fafe387",
            "b0da3a3c45cc7028",
            "cc70875573880f45",
            "7dcd5a93d74f9fe3",
            "0c9597ceb43866c6",
            "9ddc9c2730842e8a",
            "96e8d537ed2393d4",
            "e06bea66a5a72c2b",
            "9730b1ac7f209c7f",
            "57ce749e4f5af32b",
            "98d4788e090567db",
            "7eed9966a8c30e72",
            "24614b74db1eb3f2",
            "79e778a7964b0737",
            "a1b2920f8ef79b2c",
            "c8dea3740d3aebbd",
            "01c8f36fb263cc2b",
            "f0da69284e54deb0",
            "605c34dac1253d22",
            "9dd07e3bb6ae0c5b"
        ],
        "x": 14,
        "y": 759,
        "w": 1682,
        "h": 722
    },
    {
        "id": "a6dbb44b8889dd75",
        "type": "ui_group",
        "name": "Main",
        "tab": "53b43465f03cc80e",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53b43465f03cc80e",
        "type": "ui_tab",
        "name": "Farm",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04085362d4f47b65",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Wind Farm HMI",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "20c4cbd061ce191c",
        "type": "ui_tab",
        "name": "WTG-1",
        "icon": "toys",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dedfe75ed71925fe",
        "type": "ui_group",
        "name": "Details",
        "tab": "20c4cbd061ce191c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1016e4ae2592c37",
        "type": "ui_tab",
        "name": "WTG-2",
        "icon": "toys",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6486a846f78c532",
        "type": "ui_group",
        "name": "Details",
        "tab": "c1016e4ae2592c37",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1639316b9ac3b7a",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "4c059af5ad394d70",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "7100b77be7163c0e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "8a477dd11c6c2f24",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "5e9eb41d2d25f5d7",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "0a49783bd7eb50f6",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "02423b4691b27a10",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "dc45de3e468fed4d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "637fa94d524c6a53",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "8bc5b6f71c982609",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "3b37339bde8ba984",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "8c6809145522f393",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-dnp3-master.connected",
        "updates": false,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "3083963ca29d2423",
                "219c1fb151be6282"
            ]
        ]
    },
    {
        "id": "3083963ca29d2423",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-wtg-1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "4b6c58ec8b71dd47",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1 Button",
        "group": "a6dbb44b8889dd75",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "6f956ba5020089af"
            ]
        ]
    },
    {
        "id": "219c1fb151be6282",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-1 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-1 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 620,
        "wires": [
            [
                "4b6c58ec8b71dd47"
            ]
        ]
    },
    {
        "id": "6f956ba5020089af",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 620,
        "wires": [
            [
                "0c35f29e260f2005"
            ]
        ]
    },
    {
        "id": "0c35f29e260f2005",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1 tab",
        "events": "all",
        "x": 700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "7abcc3377d702d30",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-total-farm.mw-output",
        "updates": false,
        "x": 840,
        "y": 60,
        "wires": [
            [
                "d38ca85b5f45d93f",
                "3d79bca41210cbbd"
            ]
        ]
    },
    {
        "id": "d38ca85b5f45d93f",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 60,
        "wires": []
    },
    {
        "id": "3d79bca41210cbbd",
        "type": "ui_chart",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 1,
        "width": 8,
        "height": 7,
        "label": "Total Farm Generation (kW)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c992d704ba81a2c8",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-wind-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5c869eb8bccde88",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wind-direction-avg",
        "updates": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "c992d704ba81a2c8",
                "7a13805371e69de5"
            ]
        ]
    },
    {
        "id": "7a13805371e69de5",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Average Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "b15e8a9e07a3075b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wind-speed-avg",
        "updates": false,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "e070c38954242d37",
                "78b4396ff5b67210"
            ]
        ]
    },
    {
        "id": "e070c38954242d37",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-speed-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "78b4396ff5b67210",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Average Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 360,
        "wires": []
    },
    {
        "id": "cffd4e9e525cbff7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "baadd5aa5c5ac46c",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2d6bea322e64847",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "e0890438c866a057",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "8e786216ee0c58a3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.setpoint",
        "updates": false,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "e0890438c866a057"
            ]
        ]
    },
    {
        "id": "ee65979c52f15882",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.current",
        "updates": false,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "d2d6bea322e64847"
            ]
        ]
    },
    {
        "id": "189251698ec579b8",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-pressure",
        "updates": false,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "0c0da14e0271b883"
            ]
        ]
    },
    {
        "id": "dc4c8ef6766e7d33",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-temp.high",
        "updates": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "eb4a1fef2e6335dc"
            ]
        ]
    },
    {
        "id": "aa5ef85187fef0f7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-speed.high",
        "updates": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "baadd5aa5c5ac46c"
            ]
        ]
    },
    {
        "id": "1970534a2eac1f4a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-dir.high",
        "updates": false,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "cffd4e9e525cbff7"
            ]
        ]
    },
    {
        "id": "0c0da14e0271b883",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "eb4a1fef2e6335dc",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "65747b326da3f1ad",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.mw-output",
        "updates": false,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "20bcb6dfd88401ed"
            ]
        ]
    },
    {
        "id": "20bcb6dfd88401ed",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b2918354ff83a76",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "group": "dedfe75ed71925fe",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 420,
        "wires": [
            [
                "4b85c0e005805e96"
            ]
        ]
    },
    {
        "id": "4b85c0e005805e96",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "4bc0d216a340aa99"
            ]
        ]
    },
    {
        "id": "4bc0d216a340aa99",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm tab",
        "events": "all",
        "x": 1110,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2fdd8c2af66042ae",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-feathered",
        "updates": false,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "e6d19971bcbd25c6"
            ]
        ]
    },
    {
        "id": "e6d19971bcbd25c6",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a04c5be718d67d4",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "updates": false,
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "3f3c1228a168b295",
                "27ad65d6c79c45cc"
            ]
        ]
    },
    {
        "id": "2e314e3006671f5e",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "x": 1540,
        "y": 620,
        "wires": []
    },
    {
        "id": "3f3c1228a168b295",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 540,
        "wires": [
            [
                "78369ca698f9a3a8"
            ]
        ]
    },
    {
        "id": "27ad65d6c79c45cc",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 700,
        "wires": [
            [
                "46a86401caf5cc37"
            ]
        ]
    },
    {
        "id": "78369ca698f9a3a8",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1390,
        "y": 540,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    },
    {
        "id": "46a86401caf5cc37",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1390,
        "y": 700,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    },
    {
        "id": "91ba40c0564ceccf",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-dnp3-master.connected",
        "updates": false,
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "065737e2e4fda77d",
                "b97e0e7ff4c9cf72"
            ]
        ]
    },
    {
        "id": "065737e2e4fda77d",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "debug-wtg-1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ed33b3e6063b1931",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "WTG-2 Button",
        "group": "a6dbb44b8889dd75",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "80d9db4b9810d25c"
            ]
        ]
    },
    {
        "id": "b97e0e7ff4c9cf72",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-2 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-2 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "ed33b3e6063b1931"
            ]
        ]
    },
    {
        "id": "80d9db4b9810d25c",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "WTG-2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-2\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1360,
        "wires": [
            [
                "622904ac667160e3"
            ]
        ]
    },
    {
        "id": "622904ac667160e3",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "WTG-2 tab",
        "events": "all",
        "x": 700,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "269fb68779925fdd",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 860,
        "wires": []
    },
    {
        "id": "bf7fbab2564038ff",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 800,
        "wires": []
    },
    {
        "id": "460eaeaa103e16bf",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0cd03ae31e140608",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 1100,
        "wires": []
    },
    {
        "id": "97589cd8b6c0ec11",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-yaw.setpoint",
        "updates": false,
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "0cd03ae31e140608"
            ]
        ]
    },
    {
        "id": "6fcb7aa21fafe387",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-yaw.current",
        "updates": false,
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "460eaeaa103e16bf"
            ]
        ]
    },
    {
        "id": "b0da3a3c45cc7028",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-pressure",
        "updates": false,
        "x": 130,
        "y": 980,
        "wires": [
            [
                "9ddc9c2730842e8a"
            ]
        ]
    },
    {
        "id": "cc70875573880f45",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-temp.high",
        "updates": false,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "96e8d537ed2393d4"
            ]
        ]
    },
    {
        "id": "7dcd5a93d74f9fe3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-speed.high",
        "updates": false,
        "x": 130,
        "y": 800,
        "wires": [
            [
                "bf7fbab2564038ff"
            ]
        ]
    },
    {
        "id": "0c9597ceb43866c6",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-dir.high",
        "updates": false,
        "x": 120,
        "y": 860,
        "wires": [
            [
                "269fb68779925fdd"
            ]
        ]
    },
    {
        "id": "9ddc9c2730842e8a",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "group": "e6486a846f78c532",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 980,
        "wires": []
    },
    {
        "id": "96e8d537ed2393d4",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "group": "e6486a846f78c532",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 920,
        "wires": []
    },
    {
        "id": "e06bea66a5a72c2b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-turbine.mw-output",
        "updates": false,
        "x": 160,
        "y": 1160,
        "wires": [
            [
                "9730b1ac7f209c7f"
            ]
        ]
    },
    {
        "id": "9730b1ac7f209c7f",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "group": "e6486a846f78c532",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "57ce749e4f5af32b",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "Farm",
        "group": "dedfe75ed71925fe",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 1160,
        "wires": [
            [
                "98d4788e090567db"
            ]
        ]
    },
    {
        "id": "98d4788e090567db",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 1160,
        "wires": [
            [
                "7eed9966a8c30e72"
            ]
        ]
    },
    {
        "id": "7eed9966a8c30e72",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "Farm tab",
        "events": "all",
        "x": 1110,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "24614b74db1eb3f2",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-feathered",
        "updates": false,
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "79e778a7964b0737"
            ]
        ]
    },
    {
        "id": "79e778a7964b0737",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "group": "e6486a846f78c532",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 440,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a1b2920f8ef79b2c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-turbine.emergency-stop",
        "updates": false,
        "x": 1030,
        "y": 1360,
        "wires": [
            [
                "01c8f36fb263cc2b",
                "f0da69284e54deb0"
            ]
        ]
    },
    {
        "id": "c8dea3740d3aebbd",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "tag": "wtg-2-turbine.emergency-stop",
        "x": 1540,
        "y": 1360,
        "wires": []
    },
    {
        "id": "01c8f36fb263cc2b",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1280,
        "wires": [
            [
                "605c34dac1253d22"
            ]
        ]
    },
    {
        "id": "f0da69284e54deb0",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1440,
        "wires": [
            [
                "9dd07e3bb6ae0c5b"
            ]
        ]
    },
    {
        "id": "605c34dac1253d22",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1390,
        "y": 1280,
        "wires": [
            [
                "c8dea3740d3aebbd"
            ]
        ]
    },
    {
        "id": "9dd07e3bb6ae0c5b",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "a4d8d1443d1b2647",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1390,
        "y": 1440,
        "wires": [
            [
                "c8dea3740d3aebbd"
            ]
        ]
    }
]
