configs/ot-sim/node-red.json
[
    {
        "id": "1e4d1406de16ee4d",
        "type": "tab",
        "label": "Wind Farm HMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c7ae6ea8dbc2394",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "8c6809145522f393",
            "3083963ca29d2423",
            "4b6c58ec8b71dd47",
            "219c1fb151be6282",
            "6f956ba5020089af",
            "0c35f29e260f2005",
            "7abcc3377d702d30",
            "d38ca85b5f45d93f",
            "3d79bca41210cbbd",
            "c992d704ba81a2c8",
            "c5c869eb8bccde88",
            "7a13805371e69de5",
            "b15e8a9e07a3075b",
            "e070c38954242d37",
            "78b4396ff5b67210",
            "cffd4e9e525cbff7",
            "baadd5aa5c5ac46c",
            "d2d6bea322e64847",
            "e0890438c866a057",
            "8e786216ee0c58a3",
            "ee65979c52f15882",
            "189251698ec579b8",
            "dc4c8ef6766e7d33",
            "aa5ef85187fef0f7",
            "1970534a2eac1f4a",
            "0c0da14e0271b883",
            "eb4a1fef2e6335dc",
            "65747b326da3f1ad",
            "20bcb6dfd88401ed",
            "5b2918354ff83a76",
            "4b85c0e005805e96",
            "4bc0d216a340aa99",
            "2fdd8c2af66042ae",
            "e6d19971bcbd25c6",
            "3a04c5be718d67d4",
            "2e314e3006671f5e",
            "3f3c1228a168b295",
            "27ad65d6c79c45cc",
            "78369ca698f9a3a8",
            "46a86401caf5cc37"
        ],
        "x": 14,
        "y": 19,
        "w": 1672,
        "h": 722
    },
    {
        "id": "a6dbb44b8889dd75",
        "type": "ui_group",
        "name": "Main",
        "tab": "53b43465f03cc80e",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53b43465f03cc80e",
        "type": "ui_tab",
        "name": "Farm",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04085362d4f47b65",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Wind Farm HMI",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "20c4cbd061ce191c",
        "type": "ui_tab",
        "name": "WTG-1",
        "icon": "toys",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dedfe75ed71925fe",
        "type": "ui_group",
        "name": "Details",
        "tab": "20c4cbd061ce191c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1016e4ae2592c37",
        "type": "ui_tab",
        "name": "WTG-2",
        "icon": "toys",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6486a846f78c532",
        "type": "ui_group",
        "name": "Details",
        "tab": "c1016e4ae2592c37",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1639316b9ac3b7a",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "4c059af5ad394d70",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "7100b77be7163c0e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "8a477dd11c6c2f24",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "5e9eb41d2d25f5d7",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "0a49783bd7eb50f6",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 5,
        "width": 12,
        "height": 1
    },
    {
        "id": "02423b4691b27a10",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "dc45de3e468fed4d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "637fa94d524c6a53",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "8bc5b6f71c982609",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "3b37339bde8ba984",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "8c6809145522f393",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-dnp3-master.connected",
        "updates": false,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "3083963ca29d2423",
                "219c1fb151be6282"
            ]
        ]
    },
    {
        "id": "3083963ca29d2423",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-wtg-1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "4b6c58ec8b71dd47",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1 Button",
        "group": "a6dbb44b8889dd75",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "6f956ba5020089af"
            ]
        ]
    },
    {
        "id": "219c1fb151be6282",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-1 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-1 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 620,
        "wires": [
            [
                "4b6c58ec8b71dd47"
            ]
        ]
    },
    {
        "id": "6f956ba5020089af",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 620,
        "wires": [
            [
                "0c35f29e260f2005"
            ]
        ]
    },
    {
        "id": "0c35f29e260f2005",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "WTG-1 tab",
        "events": "all",
        "x": 690,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ce70fa54a117d6b1",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 960,
        "wires": [
            [
                "af824d7155f0b76f",
                "48d14caa0d2fcd37"
            ]
        ]
    },
    {
        "id": "af824d7155f0b76f",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "7d2150a9fa05b01d",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-2 Button",
        "group": "a6dbb44b8889dd75",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "1bebcada4280d799"
            ]
        ]
    },
    {
        "id": "48d14caa0d2fcd37",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-2 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-2 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "7d2150a9fa05b01d"
            ]
        ]
    },
    {
        "id": "1bebcada4280d799",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-2\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "c55197922faab9be"
            ]
        ]
    },
    {
        "id": "c55197922faab9be",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-2 tab",
        "events": "all",
        "x": 810,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "7abcc3377d702d30",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-total-farm.mw-output",
        "updates": false,
        "x": 830,
        "y": 60,
        "wires": [
            [
                "d38ca85b5f45d93f",
                "3d79bca41210cbbd"
            ]
        ]
    },
    {
        "id": "d38ca85b5f45d93f",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 60,
        "wires": []
    },
    {
        "id": "3d79bca41210cbbd",
        "type": "ui_chart",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 1,
        "width": 8,
        "height": 7,
        "label": "Total Farm Generation (kW)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d8a7818b9a7035e9",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-3-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 1160,
        "wires": [
            [
                "6209d127e6f91181",
                "9d060a063c33c479"
            ]
        ]
    },
    {
        "id": "6209d127e6f91181",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1160,
        "wires": []
    },
    {
        "id": "783c384587cb1afb",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-3 Button",
        "group": "a6dbb44b8889dd75",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "29bb42f3107f4a77"
            ]
        ]
    },
    {
        "id": "9d060a063c33c479",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-3 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-3 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1240,
        "wires": [
            [
                "783c384587cb1afb"
            ]
        ]
    },
    {
        "id": "29bb42f3107f4a77",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-3\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1240,
        "wires": [
            [
                "c55560aedd974e32"
            ]
        ]
    },
    {
        "id": "c55560aedd974e32",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-3 tab",
        "events": "all",
        "x": 810,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "643c9ecdf54ea35c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-4-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "2c3e9df3813cba9e",
                "eab1242a2a5c509e"
            ]
        ]
    },
    {
        "id": "2c3e9df3813cba9e",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5923fc854ebf783e",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-4 Button",
        "group": "a6dbb44b8889dd75",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1440,
        "wires": [
            [
                "52557a0c4a10df06"
            ]
        ]
    },
    {
        "id": "eab1242a2a5c509e",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-4 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-4 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1440,
        "wires": [
            [
                "5923fc854ebf783e"
            ]
        ]
    },
    {
        "id": "52557a0c4a10df06",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-4\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1440,
        "wires": [
            [
                "9c21f08b5dd00bec"
            ]
        ]
    },
    {
        "id": "9c21f08b5dd00bec",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-4 tab",
        "events": "all",
        "x": 810,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "d56db77dd693b6ac",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-5-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 1560,
        "wires": [
            [
                "d766864d734320cb",
                "6687319eb1aad4f3"
            ]
        ]
    },
    {
        "id": "d766864d734320cb",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1560,
        "wires": []
    },
    {
        "id": "efa1de359a076c1c",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-5 Button",
        "group": "a6dbb44b8889dd75",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1640,
        "wires": [
            [
                "52f891d6dbc481b1"
            ]
        ]
    },
    {
        "id": "6687319eb1aad4f3",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-5 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-5 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1640,
        "wires": [
            [
                "efa1de359a076c1c"
            ]
        ]
    },
    {
        "id": "52f891d6dbc481b1",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-5\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "fc1d288d262e4e2d"
            ]
        ]
    },
    {
        "id": "fc1d288d262e4e2d",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-5 tab",
        "events": "all",
        "x": 810,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "d71f56c4f1f49295",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-6-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 1760,
        "wires": [
            [
                "16c0cc69f2dc997c",
                "83e5af951267a1c7"
            ]
        ]
    },
    {
        "id": "16c0cc69f2dc997c",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1760,
        "wires": []
    },
    {
        "id": "d69fa43e0b5d7e65",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-6 Button",
        "group": "a6dbb44b8889dd75",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 1840,
        "wires": [
            [
                "0d6b914de37d79f1"
            ]
        ]
    },
    {
        "id": "83e5af951267a1c7",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-6 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-6 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1840,
        "wires": [
            [
                "d69fa43e0b5d7e65"
            ]
        ]
    },
    {
        "id": "0d6b914de37d79f1",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-6\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1840,
        "wires": [
            [
                "ea4bf57cd3754ab2"
            ]
        ]
    },
    {
        "id": "ea4bf57cd3754ab2",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-6 tab",
        "events": "all",
        "x": 810,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "2e7d0fe67e195e25",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-7-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "7830fe7886a86088",
                "07602b8350a9278d"
            ]
        ]
    },
    {
        "id": "7830fe7886a86088",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1960,
        "wires": []
    },
    {
        "id": "343d69a0dec2dbfe",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-7 Button",
        "group": "a6dbb44b8889dd75",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 2040,
        "wires": [
            [
                "a36fd7c44dd540e7"
            ]
        ]
    },
    {
        "id": "07602b8350a9278d",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-7 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-7 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2040,
        "wires": [
            [
                "343d69a0dec2dbfe"
            ]
        ]
    },
    {
        "id": "a36fd7c44dd540e7",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-7\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2040,
        "wires": [
            [
                "364c92b011ee45cb"
            ]
        ]
    },
    {
        "id": "364c92b011ee45cb",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-7 tab",
        "events": "all",
        "x": 810,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "942ac1265c232b3a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-8-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 2160,
        "wires": [
            [
                "4416c338852a38de",
                "cabe070bb8cde609"
            ]
        ]
    },
    {
        "id": "4416c338852a38de",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2160,
        "wires": []
    },
    {
        "id": "2ba365546770e17c",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-8 Button",
        "group": "a6dbb44b8889dd75",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 2240,
        "wires": [
            [
                "69d425c2533658f3"
            ]
        ]
    },
    {
        "id": "cabe070bb8cde609",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-8 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-8 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2240,
        "wires": [
            [
                "2ba365546770e17c"
            ]
        ]
    },
    {
        "id": "69d425c2533658f3",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-8\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2240,
        "wires": [
            [
                "17f6a5221e791bdc"
            ]
        ]
    },
    {
        "id": "17f6a5221e791bdc",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-8 tab",
        "events": "all",
        "x": 810,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "4e347653f297c9ba",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-9-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 2360,
        "wires": [
            [
                "dc1fc48f09975874",
                "0a6f071ae2a378f4"
            ]
        ]
    },
    {
        "id": "dc1fc48f09975874",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2360,
        "wires": []
    },
    {
        "id": "87392e7a98c12fa7",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-9 Button",
        "group": "a6dbb44b8889dd75",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 2440,
        "wires": [
            [
                "94e146cc671ca928"
            ]
        ]
    },
    {
        "id": "0a6f071ae2a378f4",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-9 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-9 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2440,
        "wires": [
            [
                "87392e7a98c12fa7"
            ]
        ]
    },
    {
        "id": "94e146cc671ca928",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-9\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2440,
        "wires": [
            [
                "24c425aa7db46b10"
            ]
        ]
    },
    {
        "id": "24c425aa7db46b10",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-9 tab",
        "events": "all",
        "x": 810,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "e0cc3a8ce98cc1d5",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-10-dnp3-master.connected",
        "updates": false,
        "x": 190,
        "y": 2560,
        "wires": [
            [
                "5491dc73226e8b46",
                "b37f2aeafe2d280c"
            ]
        ]
    },
    {
        "id": "5491dc73226e8b46",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "name": "debug-wtg-10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2560,
        "wires": []
    },
    {
        "id": "edafaa2e002eaafd",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-10 Button",
        "group": "a6dbb44b8889dd75",
        "order": 16,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 2640,
        "wires": [
            [
                "a511a30b240c0511"
            ]
        ]
    },
    {
        "id": "b37f2aeafe2d280c",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-10 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-10 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2640,
        "wires": [
            [
                "edafaa2e002eaafd"
            ]
        ]
    },
    {
        "id": "a511a30b240c0511",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-10\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 2640,
        "wires": [
            [
                "669a7148aba4ab5e"
            ]
        ]
    },
    {
        "id": "669a7148aba4ab5e",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "WTG-10 tab",
        "events": "all",
        "x": 810,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "c992d704ba81a2c8",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-wind-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5c869eb8bccde88",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wind-direction-avg",
        "updates": false,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "c992d704ba81a2c8",
                "7a13805371e69de5"
            ]
        ]
    },
    {
        "id": "7a13805371e69de5",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Average Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "b15e8a9e07a3075b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wind-speed-avg",
        "updates": false,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "e070c38954242d37",
                "78b4396ff5b67210"
            ]
        ]
    },
    {
        "id": "e070c38954242d37",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "debug-speed-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "78b4396ff5b67210",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Average Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "cffd4e9e525cbff7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "baadd5aa5c5ac46c",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2d6bea322e64847",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 300,
        "wires": []
    },
    {
        "id": "e0890438c866a057",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "8e786216ee0c58a3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.setpoint",
        "updates": false,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e0890438c866a057"
            ]
        ]
    },
    {
        "id": "ee65979c52f15882",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.current",
        "updates": false,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "d2d6bea322e64847"
            ]
        ]
    },
    {
        "id": "189251698ec579b8",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-pressure",
        "updates": false,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "0c0da14e0271b883"
            ]
        ]
    },
    {
        "id": "dc4c8ef6766e7d33",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-temp.high",
        "updates": false,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "eb4a1fef2e6335dc"
            ]
        ]
    },
    {
        "id": "aa5ef85187fef0f7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-speed.high",
        "updates": false,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "baadd5aa5c5ac46c"
            ]
        ]
    },
    {
        "id": "1970534a2eac1f4a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-dir.high",
        "updates": false,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "cffd4e9e525cbff7"
            ]
        ]
    },
    {
        "id": "0c0da14e0271b883",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "eb4a1fef2e6335dc",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "65747b326da3f1ad",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.mw-output",
        "updates": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "20bcb6dfd88401ed"
            ]
        ]
    },
    {
        "id": "20bcb6dfd88401ed",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b2918354ff83a76",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "group": "dedfe75ed71925fe",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "4b85c0e005805e96"
            ]
        ]
    },
    {
        "id": "4b85c0e005805e96",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "4bc0d216a340aa99"
            ]
        ]
    },
    {
        "id": "4bc0d216a340aa99",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm tab",
        "events": "all",
        "x": 1100,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "628d315e1d1a4c91",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 760,
        "wires": []
    },
    {
        "id": "b2c61bb8cf31aadf",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 820,
        "wires": []
    },
    {
        "id": "8a57a4d775768534",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 1060,
        "wires": []
    },
    {
        "id": "18d28e3fa54c1c96",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3d40702ad99c9d4a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-yaw.setpoint",
        "updates": false,
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "18d28e3fa54c1c96"
            ]
        ]
    },
    {
        "id": "f9ba400bd6b6c896",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-yaw.current",
        "updates": false,
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "8a57a4d775768534"
            ]
        ]
    },
    {
        "id": "975af108a7525e74",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-pressure",
        "updates": false,
        "x": 120,
        "y": 980,
        "wires": [
            [
                "1cd19bc3eae2882a"
            ]
        ]
    },
    {
        "id": "4251037e4f52fdde",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-temp.high",
        "updates": false,
        "x": 120,
        "y": 900,
        "wires": [
            [
                "ae57584223df60d3"
            ]
        ]
    },
    {
        "id": "8a9a38a42386f538",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-speed.high",
        "updates": false,
        "x": 120,
        "y": 820,
        "wires": [
            [
                "b2c61bb8cf31aadf"
            ]
        ]
    },
    {
        "id": "97a508587f4e94df",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-dir.high",
        "updates": false,
        "x": 110,
        "y": 760,
        "wires": [
            [
                "628d315e1d1a4c91"
            ]
        ]
    },
    {
        "id": "1cd19bc3eae2882a",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "group": "e6486a846f78c532",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 410,
        "y": 980,
        "wires": []
    },
    {
        "id": "ae57584223df60d3",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "group": "e6486a846f78c532",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 900,
        "wires": []
    },
    {
        "id": "542e835f28e0ed66",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "tag": "wtg-2-turbine.mw-output",
        "updates": false,
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "45dd77af9e0c5fd1"
            ]
        ]
    },
    {
        "id": "45dd77af9e0c5fd1",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "group": "e6486a846f78c532",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c5f56ba7949ef747",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "name": "Farm",
        "group": "e6486a846f78c532",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1320,
        "wires": [
            [
                "f23af35f8a5a86e5"
            ]
        ]
    },
    {
        "id": "f23af35f8a5a86e5",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "d42a728e1b31b247"
            ]
        ]
    },
    {
        "id": "d42a728e1b31b247",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "name": "Farm tab",
        "events": "all",
        "x": 420,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "2fdd8c2af66042ae",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-feathered",
        "updates": false,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "e6d19971bcbd25c6"
            ]
        ]
    },
    {
        "id": "e6d19971bcbd25c6",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a04c5be718d67d4",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "updates": false,
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "3f3c1228a168b295",
                "27ad65d6c79c45cc"
            ]
        ]
    },
    {
        "id": "2e314e3006671f5e",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "x": 1530,
        "y": 620,
        "wires": []
    },
    {
        "id": "3f3c1228a168b295",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 540,
        "wires": [
            [
                "78369ca698f9a3a8"
            ]
        ]
    },
    {
        "id": "27ad65d6c79c45cc",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 700,
        "wires": [
            [
                "46a86401caf5cc37"
            ]
        ]
    },
    {
        "id": "78369ca698f9a3a8",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 540,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    },
    {
        "id": "46a86401caf5cc37",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    }
]
