configs/ot-sim/node-red.json
[
    {
        "id": "1e4d1406de16ee4d",
        "type": "tab",
        "label": "Wind Farm HMI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c7ae6ea8dbc2394",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "cffd4e9e525cbff7",
            "baadd5aa5c5ac46c",
            "d2d6bea322e64847",
            "e0890438c866a057",
            "8e786216ee0c58a3",
            "ee65979c52f15882",
            "189251698ec579b8",
            "dc4c8ef6766e7d33",
            "aa5ef85187fef0f7",
            "1970534a2eac1f4a",
            "0c0da14e0271b883",
            "eb4a1fef2e6335dc",
            "65747b326da3f1ad",
            "20bcb6dfd88401ed",
            "5b2918354ff83a76",
            "4b85c0e005805e96",
            "4bc0d216a340aa99",
            "2fdd8c2af66042ae",
            "e6d19971bcbd25c6",
            "3a04c5be718d67d4",
            "2e314e3006671f5e",
            "3f3c1228a168b295",
            "27ad65d6c79c45cc",
            "78369ca698f9a3a8",
            "46a86401caf5cc37"
        ],
        "x": 64,
        "y": 1119,
        "w": 812,
        "h": 822
    },
    {
        "id": "3ef915e5ea175076",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "2d7580f450c8ba88",
            "80530f18711bbb3f",
            "a0fea915fb7df788",
            "4738a741bc90a7b2",
            "d4ffeb45438a4d3e",
            "29a78d15bf8e4a14",
            "a49f390d2a5ddf37",
            "f9004e52480ec06d",
            "0bf32628391a8c1f",
            "8c6809145522f393",
            "3083963ca29d2423",
            "4b6c58ec8b71dd47",
            "219c1fb151be6282",
            "6f956ba5020089af",
            "0c35f29e260f2005",
            "d78b5061256e908e",
            "56f8ace1d4e5ac80",
            "0aac24387dd86c42",
            "c17e669126de62a0",
            "e037cfe7dee48490",
            "af341a60acffc2fd",
            "0dc9eee46b3a879e",
            "d1db51f077350b86",
            "1b0d0959095e7456",
            "9f8d64d9e3b3dab9",
            "1c38b6903e7da8f2",
            "429fc5328ac84675",
            "6ccfe205ac4c06f2",
            "c853374f9f79f9ef",
            "c8ef2b0ff15fdbbf",
            "d50be023575a27fa",
            "1414ad2a2003e96e",
            "3efd511c3b69a3da",
            "3ea039c555e2ac9c",
            "9b8dec189db50424",
            "2c9cf0c170479448",
            "35a1071742b1ad57",
            "bfd2a1f6c734849e",
            "aff6a5970c0e6fa1",
            "1633413b088e0cf3",
            "bdbced7e6ca6c926",
            "aaf595f2b1863554",
            "8e3ff5debcd8256c",
            "8f6e68a1661f0889",
            "a6eede62ea647096",
            "793b1b70488c5dec",
            "db9f0b91467378bb",
            "57a77a2aab520717",
            "e9c96a96f91d2a51",
            "8f92f9c1b0733188",
            "d608be5434d241cc",
            "71000ecb5acac3cd",
            "ca90fb095775740c",
            "0627c5c7a3024b37",
            "baaea4ba3bf4d3a7",
            "2fc038065c8dd0b5",
            "8dce258635039428",
            "07a8dfcbde6b5867",
            "f56320c110650582",
            "c3435003585aa63a",
            "7855fcd700f449ad",
            "a47405e941e28730",
            "72f1e8525030dfaa",
            "3f0f27ae32f76921",
            "e31f34600a15d556",
            "4c5a583042497528",
            "7702eb31b1d19aaa",
            "98d532f91e5e1bd5",
            "c6b5245e70bb4165"
        ],
        "x": 54,
        "y": 19,
        "w": 1602,
        "h": 1082
    },
    {
        "id": "20349bb35f51008a",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "52963f8b1a36a0a7",
            "d7b10c5bd5cf0180",
            "5c463626fac3acab",
            "5e3e1a9514b9d7a7",
            "c460cb8ee7381e50",
            "0a1ee21bdc096945",
            "9b8e25500eb4dc30",
            "d00548467551ca50",
            "eeefd2886ae61957",
            "ade22feb0b43d76d",
            "db8bb56e27cf110c",
            "ea736921cc5639ec",
            "51030b553b84c9ec",
            "0fc56d6581f72d7c",
            "19cdc4e832d4a076",
            "68e35c2a9b6885c4",
            "84245cab5cef2fd0",
            "b35a712104c2cfaf",
            "6ba9187011e5f807",
            "1525d83558aeeed4",
            "0646f7de84ded5a2",
            "70e6cabf8519d31b",
            "e97baf4d05cf9514",
            "03907fbc4a2ee6fb",
            "4b2d95d59c82c22e"
        ],
        "x": 904,
        "y": 1119,
        "w": 812,
        "h": 822
    },
    {
        "id": "203f375532e95a85",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "3a60a5d65b33bf60",
            "b6f58256fe4abd58",
            "18296322e443e55e",
            "a4c2d7fe9f4a7933",
            "f47c340ab5e282af",
            "d90572ab879a02e3",
            "ab34f3f2da68d803",
            "e2a884663941631e",
            "b766d28717f8f403",
            "720b051018abe1bd",
            "57af0682132b5a25",
            "20641563b77422b8",
            "ee78ac1b32236ad7",
            "4e5c73b1daebb0a4",
            "bcefc6b4b1f933cf",
            "e6277c2486dc413d",
            "189ec02a713a6f79",
            "b6dee8f247defc32",
            "e63f2e3f8815213b",
            "7e0e2542a21bd1b8",
            "d2128c4f9b7b1148",
            "94bdb2942be31b64",
            "52efdfdf435deb25",
            "e006fbea7b28f5d8",
            "231d435f52d22084"
        ],
        "x": 64,
        "y": 1959,
        "w": 812,
        "h": 822
    },
    {
        "id": "62a1e7a24e9273b3",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "751d96ee76f6849e",
            "a2d1051ebd93dea6",
            "400d721fd356017b",
            "43f612aa5d0eb319",
            "094ea2b2bda37568",
            "54e2c27724a76876",
            "4ac40dc4c44d7a0d",
            "8ce01eca90517df3",
            "1acfd48a21589af7",
            "3abea2272e1ab912",
            "c327892c2e2ff048",
            "f27b75abfc20c6fa",
            "251c6769cd4c9828",
            "0cb1ff434ceab702",
            "833d52cff5c1bf9c",
            "4f6d41c45705dfc7",
            "1ed988c81e087115",
            "c3e922d78f79cd6b",
            "60bf3753012d7dae",
            "f242588a66039431",
            "a081905b882b4e6c",
            "bb808a2834a745df",
            "4e1e8582bfd6f488",
            "c6debbb742f4fd99",
            "5c9ff39733a7e199"
        ],
        "x": 904,
        "y": 1959,
        "w": 812,
        "h": 822
    },
    {
        "id": "c76fc9a7edf93fe8",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "3ab133c00453a487",
            "514cf710ca75ba4a",
            "f6592275d06609e9",
            "7289b389f91ada24",
            "01a81dc90957372b",
            "96cfa0f34bd14446",
            "680ce7e8b9980b5d",
            "37fd7854aa6bc7ad",
            "8cae8bd87911f4b5",
            "eae8ab5a7cb7849f",
            "a1a6e54fa6d47de2",
            "30454fb9b607c6cd",
            "0c1365a92dbfe29c",
            "d2521fe3d38faf21",
            "16fd23955706c8be",
            "da8b927548d37601",
            "5b03bced10635081",
            "ba739babe17efb60",
            "3030972578c7d522",
            "404f15162f0b6803",
            "568e5120bed913ad",
            "bb108e7c63450180",
            "0f8d477ac6a4637b",
            "af38be78de27e861",
            "84a5234439955fe2"
        ],
        "x": 64,
        "y": 2799,
        "w": 812,
        "h": 822
    },
    {
        "id": "6945dc86e240e5ed",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "aefeaa90f900af18",
            "c858849f59bcab5a",
            "575fcb446172bf63",
            "a215dc6556dbda02",
            "572cfbb315bd1830",
            "e7e3e4223cd2c2ca",
            "9e06ae9f32750529",
            "32c083b433445a7c",
            "8f9354a537c7f4fb",
            "9314b0b4f9765d60",
            "a697934465b36454",
            "82710a25da98bdad",
            "22020ee34d139177",
            "0b51349e7a7d0746",
            "5db49a23d9768625",
            "12204836d1a02930",
            "234f92ab991ef203",
            "74b5a2eb07086c99",
            "20791fcb1c253279",
            "d1a883ecb08fbe50",
            "8ba8c4eb6ede912b",
            "e75466feb1fa120a",
            "f8e73dc4419520e4",
            "3dc9a439356ed26b",
            "7a8f9549ec697324"
        ],
        "x": 904,
        "y": 2799,
        "w": 812,
        "h": 822
    },
    {
        "id": "db92cb1f066b66cd",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "e48a832fb2ffc6fd",
            "a980efc85a05d4b7",
            "836059b93b2471f8",
            "7a6dad8455f25b90",
            "593394c0dc603016",
            "7bb0c5d3f07d0396",
            "4f2930346a2d55d7",
            "d39beb5c6c9921b4",
            "2a34ef179888c210",
            "4a06149f6ecea6f7",
            "7cccb5d6c0667f1a",
            "2ee57980ca31f544",
            "66446aea76fd872a",
            "9567236711ff7f56",
            "04666c17e44162e4",
            "0a9d437b8e50e3e6",
            "99b27d312f21839a",
            "506fde9f001a53fe",
            "dbd74d96f657f12c",
            "51dac07476ec1ca6",
            "9818d54b545e917a",
            "c3b116842d9ba062",
            "4673b6ab1f7b58ba",
            "7ed30dfd961f0920",
            "4c75782337d339c1"
        ],
        "x": 64,
        "y": 3639,
        "w": 812,
        "h": 822
    },
    {
        "id": "16bd1bbfd99f8833",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "0c9d44536578bc2a",
            "5d23b02f009791b2",
            "7ff3b4adb5d2114f",
            "4f2c8980260ac883",
            "bd4b198c1601d00a",
            "973a5d6a691129ce",
            "c512f96fd6967bc9",
            "fa99774e2fb2efdf",
            "cbc46dcb397ee78a",
            "eaebca50978a805e",
            "a279ef9a9a4bedaf",
            "83a3c93e386dc34d",
            "234796d8142da763",
            "96b0b3516031c947",
            "40fb8e034f07dcab",
            "9d2eeb17b4a0ab4c",
            "416899e0e2e5e733",
            "58a347221203f425",
            "01a1e4be240890ae",
            "29791d701de5da2b",
            "b588b9f54bbfb91b",
            "48408b32c6e6f203",
            "37844e023aaa868c",
            "3c37776b748f9764",
            "601e112b22c0d84d"
        ],
        "x": 904,
        "y": 3639,
        "w": 812,
        "h": 822
    },
    {
        "id": "474b16e329a051da",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "40fbdb93eca31126",
            "486b1d820ffb1ab2",
            "e84aa7503ed11004",
            "f3658281dda2a2ea",
            "2e9cb444216482cf",
            "3c665dc424e6baa5",
            "5a955c9b0e0df1b3",
            "4bd63e4f6f10d12c",
            "b25d72ebd5615a50",
            "f67a860f30493c6b",
            "ee4ec79d8808dd2d",
            "023d357693311f53",
            "6bfbc1a1e635c1f5",
            "8eda768abdbaa298",
            "c6021b2e09f09daa",
            "52164673d0bef21f",
            "81af869b5f6694f0",
            "2e8dcce41989a16a",
            "6253c271956d2dc4",
            "3b1daf085de894fb",
            "939a63a46bb86e43",
            "b7fc9c62eb86425a",
            "4ddd5fc39add2d3c",
            "ce350ac85de01e27",
            "e679871dfdf04549"
        ],
        "x": 64,
        "y": 4479,
        "w": 812,
        "h": 822
    },
    {
        "id": "9b15f9bac398cf98",
        "type": "group",
        "z": "1e4d1406de16ee4d",
        "style": {
            "stroke": "#333333",
            "stroke-opacity": "1",
            "fill": "#181818",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#cccccc"
        },
        "nodes": [
            "13412460b8bf0daf",
            "810f2e656c1e48d2",
            "c084abfdf4969de8",
            "04590d0a47ea433e",
            "fda93da0c9dce8de",
            "b4704a848e58cb65",
            "b6b28bb7055fff5e",
            "a8bf00a214c7ed86",
            "2254528dad93a867",
            "73e539c190f97537",
            "02eff55ea424d172",
            "2f02754f12882334",
            "30c54ba03dce4999",
            "39963a13548e6a83",
            "d0f1fa1c127c0927",
            "bcf6f2a74febfb40",
            "5dfe68bb495a1e93",
            "793932d9fd973c2f",
            "ab84f3cc8a189869",
            "e5997fcdabc68cd6",
            "df2f3996f0e4048c",
            "c54387e5c39a278b",
            "c69d2eeaa24b91a0",
            "6b000c525723feb6",
            "246e558944b5cc1a"
        ],
        "x": 904,
        "y": 4479,
        "w": 812,
        "h": 822
    },
    {
        "id": "a6dbb44b8889dd75",
        "type": "ui_group",
        "name": "Main",
        "tab": "53b43465f03cc80e",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53b43465f03cc80e",
        "type": "ui_tab",
        "name": "Farm",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04085362d4f47b65",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Wind Farm HMI",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "20c4cbd061ce191c",
        "type": "ui_tab",
        "name": "WTG-1",
        "icon": "toys",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dedfe75ed71925fe",
        "type": "ui_group",
        "name": "Details",
        "tab": "20c4cbd061ce191c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1016e4ae2592c37",
        "type": "ui_tab",
        "name": "WTG-2",
        "icon": "toys",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6486a846f78c532",
        "type": "ui_group",
        "name": "Details",
        "tab": "c1016e4ae2592c37",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "54d9e601ae8ebc25",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "886e271b9688f0bd",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "85910618e38b4dab",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a6dbb44b8889dd75",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "c372a1a3b8c69e7e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "4e510e66f90729fb",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "b845d98b80690962",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "3f988eb8edea82a2",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "3a0c4f3a273c3832",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "3da8daca33d10474",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "b6c2898e319e02fb",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "e6486a846f78c532",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "be6c280794da1ad2",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "0d53ed7c9ecf9737",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "c478ce3362c9a1e0",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "e98c77a3969d7aad",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "e141ace12aa7932e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "7482d908b037fd21",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "d3cec0edc3348c0e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "dedfe75ed71925fe",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "d0b662be2c3fbc29",
        "type": "ui_tab",
        "name": "WTG-3",
        "icon": "toys",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b15f1775be017a88",
        "type": "ui_group",
        "name": "Default",
        "tab": "d0b662be2c3fbc29",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "df9f70ed61987f53",
        "type": "ui_tab",
        "name": "WTG-4",
        "icon": "toys",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ec7892ca41f286b9",
        "type": "ui_group",
        "name": "Default",
        "tab": "df9f70ed61987f53",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a705b4f59544fdc",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "77efa6065939402f",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5090e466477883ce",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "e82cf345323261a1",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "bbfd8b770fa4ba95",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "3912ad764bff4161",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "82268678729f71c8",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b15f1775be017a88",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "7383ded7d19fbc7d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "6df9da7dc6e6d3fc",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "901f0ec5471f984b",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "3e3d70ec705c7da6",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "7405952dceb02fe8",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "8b5e723e694cec16",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "afbcefd21d36e9c4",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "ec7892ca41f286b9",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "a6c5048d120c6a53",
        "type": "ui_tab",
        "name": "WTG-5",
        "icon": "toys",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ae89422bddfb47ba",
        "type": "ui_tab",
        "name": "WTG-6",
        "icon": "toys",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0c1df8252030942d",
        "type": "ui_tab",
        "name": "WTG-7",
        "icon": "toys",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b97e2dd2c814bebf",
        "type": "ui_tab",
        "name": "WTG-8",
        "icon": "toys",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8900cdd163c23bb9",
        "type": "ui_tab",
        "name": "WTG-9",
        "icon": "toys",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "99b3996d896a59a6",
        "type": "ui_tab",
        "name": "WTG-10",
        "icon": "toys",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b8b1c6b18374e8a1",
        "type": "ui_group",
        "name": "Default",
        "tab": "a6c5048d120c6a53",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "246054ac451e1ad2",
        "type": "ui_group",
        "name": "Default",
        "tab": "ae89422bddfb47ba",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed363c2091d2bb6e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "1b8b2bec3369342d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "39da801885e1a3a0",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "c815b8a24ab079c7",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "5ed9a48b17cd1e0d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "b6f0886498d8e326",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "ced778fa3847aa98",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "b8b1c6b18374e8a1",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "0d0f768dd489a7cc",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "dae553b4f029179d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4367f6a7c897be5d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "54b456cc752b3a2e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "64e7d3f958f8189d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "903d404d6c4d6ad2",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "689f7934b1e2da75",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "246054ac451e1ad2",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "a40935e2b398edbd",
        "type": "ui_group",
        "name": "Default",
        "tab": "0c1df8252030942d",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a09a50f4e09afe34",
        "type": "ui_group",
        "name": "Default",
        "tab": "b97e2dd2c814bebf",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c6c61a1706bc6e4",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "493b213aed491bd5",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "301dc6f2a3f4601e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "438898c4c3bfd524",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7ecf46e0f84d9b9",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "727a569eeed17997",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "8621cbbdfd183207",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a40935e2b398edbd",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "3421267b028bf2b9",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "6b05af81a0d134b4",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0ead44d73967f467",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "9cd9edb1ebf3435d",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "9692ff5cd0985839",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "c94866e0873e3b44",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "92b60f5f7beaf46c",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "a09a50f4e09afe34",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "3eae77f4bcd43090",
        "type": "ui_group",
        "name": "Default",
        "tab": "8900cdd163c23bb9",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9fe1407a14d129f9",
        "type": "ui_group",
        "name": "Default",
        "tab": "99b3996d896a59a6",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d737726ffa8bbe85",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "c60f2f969fd10c4f",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "b585692bcc7dcc42",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "215f49ee2ae8066c",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "282d6eee18d7339c",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "a6eaab521fba578e",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "1f8dd663649219d6",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "3eae77f4bcd43090",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "e1339e85953a9850",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "324b3371ca9638f2",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "0b9ff882417cd950",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "656da2b0061d74d7",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd2cbd2699ada551",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "96252705cc06200c",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "2d23edd47313cc0c",
        "type": "ui_spacer",
        "z": "1e4d1406de16ee4d",
        "name": "spacer",
        "group": "9fe1407a14d129f9",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "cffd4e9e525cbff7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1220,
        "wires": []
    },
    {
        "id": "baadd5aa5c5ac46c",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d2d6bea322e64847",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 1400,
        "wires": []
    },
    {
        "id": "e0890438c866a057",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1460,
        "wires": []
    },
    {
        "id": "8e786216ee0c58a3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.setpoint",
        "updates": false,
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "e0890438c866a057"
            ]
        ]
    },
    {
        "id": "ee65979c52f15882",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-yaw.current",
        "updates": false,
        "x": 180,
        "y": 1400,
        "wires": [
            [
                "d2d6bea322e64847"
            ]
        ]
    },
    {
        "id": "189251698ec579b8",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-pressure",
        "updates": false,
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "0c0da14e0271b883"
            ]
        ]
    },
    {
        "id": "dc4c8ef6766e7d33",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-temp.high",
        "updates": false,
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "eb4a1fef2e6335dc"
            ]
        ]
    },
    {
        "id": "aa5ef85187fef0f7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-speed.high",
        "updates": false,
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "baadd5aa5c5ac46c"
            ]
        ]
    },
    {
        "id": "1970534a2eac1f4a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-dir.high",
        "updates": false,
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "cffd4e9e525cbff7"
            ]
        ]
    },
    {
        "id": "0c0da14e0271b883",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 1340,
        "wires": []
    },
    {
        "id": "eb4a1fef2e6335dc",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 1280,
        "wires": []
    },
    {
        "id": "65747b326da3f1ad",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.mw-output",
        "updates": false,
        "x": 200,
        "y": 1520,
        "wires": [
            [
                "20bcb6dfd88401ed"
            ]
        ]
    },
    {
        "id": "20bcb6dfd88401ed",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 1520,
        "wires": []
    },
    {
        "id": "5b2918354ff83a76",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "group": "dedfe75ed71925fe",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 1900,
        "wires": [
            [
                "4b85c0e005805e96"
            ]
        ]
    },
    {
        "id": "4b85c0e005805e96",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1900,
        "wires": [
            [
                "4bc0d216a340aa99"
            ]
        ]
    },
    {
        "id": "4bc0d216a340aa99",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Farm tab",
        "events": "all",
        "x": 440,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "2fdd8c2af66042ae",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-feathered",
        "updates": false,
        "x": 170,
        "y": 1580,
        "wires": [
            [
                "e6d19971bcbd25c6"
            ]
        ]
    },
    {
        "id": "e6d19971bcbd25c6",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "group": "dedfe75ed71925fe",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3a04c5be718d67d4",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "updates": false,
        "x": 230,
        "y": 1740,
        "wires": [
            [
                "3f3c1228a168b295",
                "27ad65d6c79c45cc"
            ]
        ]
    },
    {
        "id": "2e314e3006671f5e",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "tag": "wtg-1-turbine.emergency-stop",
        "x": 720,
        "y": 1740,
        "wires": []
    },
    {
        "id": "3f3c1228a168b295",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "78369ca698f9a3a8"
            ]
        ]
    },
    {
        "id": "27ad65d6c79c45cc",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1820,
        "wires": [
            [
                "46a86401caf5cc37"
            ]
        ]
    },
    {
        "id": "78369ca698f9a3a8",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1660,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    },
    {
        "id": "46a86401caf5cc37",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6c7ae6ea8dbc2394",
        "name": "",
        "group": "dedfe75ed71925fe",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1820,
        "wires": [
            [
                "2e314e3006671f5e"
            ]
        ]
    },
    {
        "id": "2d7580f450c8ba88",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-total-farm.mw-output",
        "updates": false,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "80530f18711bbb3f",
                "a0fea915fb7df788"
            ]
        ]
    },
    {
        "id": "80530f18711bbb3f",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-total",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "a0fea915fb7df788",
        "type": "ui_chart",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 1,
        "width": 8,
        "height": 8,
        "label": "Total Farm Generation (kW)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4738a741bc90a7b2",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wind-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "d4ffeb45438a4d3e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wind-direction-avg",
        "updates": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "4738a741bc90a7b2",
                "29a78d15bf8e4a14"
            ]
        ]
    },
    {
        "id": "29a78d15bf8e4a14",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Average Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "a49f390d2a5ddf37",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wind-speed-avg",
        "updates": false,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "f9004e52480ec06d",
                "0bf32628391a8c1f"
            ]
        ]
    },
    {
        "id": "f9004e52480ec06d",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-speed-avg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "0bf32628391a8c1f",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "",
        "group": "a6dbb44b8889dd75",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Average Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c6809145522f393",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-1-dnp3-master.connected",
        "updates": false,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "3083963ca29d2423",
                "219c1fb151be6282"
            ]
        ]
    },
    {
        "id": "3083963ca29d2423",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "4b6c58ec8b71dd47",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-1 Button",
        "group": "a6dbb44b8889dd75",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "6f956ba5020089af"
            ]
        ]
    },
    {
        "id": "219c1fb151be6282",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-1 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-1 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 500,
        "wires": [
            [
                "4b6c58ec8b71dd47"
            ]
        ]
    },
    {
        "id": "6f956ba5020089af",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-1\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "0c35f29e260f2005"
            ]
        ]
    },
    {
        "id": "0c35f29e260f2005",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-1 tab",
        "events": "all",
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d78b5061256e908e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-3-dnp3-master.connected",
        "updates": false,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "56f8ace1d4e5ac80",
                "c17e669126de62a0"
            ]
        ]
    },
    {
        "id": "56f8ace1d4e5ac80",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "0aac24387dd86c42",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-3 Button",
        "group": "a6dbb44b8889dd75",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "e037cfe7dee48490"
            ]
        ]
    },
    {
        "id": "c17e669126de62a0",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-3 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-3 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 640,
        "wires": [
            [
                "0aac24387dd86c42"
            ]
        ]
    },
    {
        "id": "e037cfe7dee48490",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-3\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 640,
        "wires": [
            [
                "af341a60acffc2fd"
            ]
        ]
    },
    {
        "id": "af341a60acffc2fd",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-3 tab",
        "events": "all",
        "x": 760,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0dc9eee46b3a879e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-5-dnp3-master.connected",
        "updates": false,
        "x": 210,
        "y": 700,
        "wires": [
            [
                "d1db51f077350b86",
                "9f8d64d9e3b3dab9"
            ]
        ]
    },
    {
        "id": "d1db51f077350b86",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "1b0d0959095e7456",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-5 Button",
        "group": "a6dbb44b8889dd75",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "1c38b6903e7da8f2"
            ]
        ]
    },
    {
        "id": "9f8d64d9e3b3dab9",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-5 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-5 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 780,
        "wires": [
            [
                "1b0d0959095e7456"
            ]
        ]
    },
    {
        "id": "1c38b6903e7da8f2",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-5\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 780,
        "wires": [
            [
                "429fc5328ac84675"
            ]
        ]
    },
    {
        "id": "429fc5328ac84675",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-5 tab",
        "events": "all",
        "x": 760,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6ccfe205ac4c06f2",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-2-dnp3-master.connected",
        "updates": false,
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "c853374f9f79f9ef",
                "d50be023575a27fa"
            ]
        ]
    },
    {
        "id": "c853374f9f79f9ef",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "c8ef2b0ff15fdbbf",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-2 Button",
        "group": "a6dbb44b8889dd75",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 500,
        "wires": [
            [
                "1414ad2a2003e96e"
            ]
        ]
    },
    {
        "id": "d50be023575a27fa",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-2 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-2 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "c8ef2b0ff15fdbbf"
            ]
        ]
    },
    {
        "id": "1414ad2a2003e96e",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-2\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 500,
        "wires": [
            [
                "3efd511c3b69a3da"
            ]
        ]
    },
    {
        "id": "3efd511c3b69a3da",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-2 tab",
        "events": "all",
        "x": 1560,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3ea039c555e2ac9c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-4-dnp3-master.connected",
        "updates": false,
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "9b8dec189db50424",
                "2c9cf0c170479448"
            ]
        ]
    },
    {
        "id": "9b8dec189db50424",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 560,
        "wires": []
    },
    {
        "id": "2c9cf0c170479448",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-4 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-4 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 640,
        "wires": [
            [
                "35a1071742b1ad57"
            ]
        ]
    },
    {
        "id": "35a1071742b1ad57",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-4 Button",
        "group": "a6dbb44b8889dd75",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 640,
        "wires": [
            [
                "bfd2a1f6c734849e"
            ]
        ]
    },
    {
        "id": "bfd2a1f6c734849e",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-4\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 640,
        "wires": [
            [
                "aff6a5970c0e6fa1"
            ]
        ]
    },
    {
        "id": "aff6a5970c0e6fa1",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-4 tab",
        "events": "all",
        "x": 1560,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "1633413b088e0cf3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-6-dnp3-master.connected",
        "updates": false,
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "bdbced7e6ca6c926",
                "aaf595f2b1863554"
            ]
        ]
    },
    {
        "id": "bdbced7e6ca6c926",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "aaf595f2b1863554",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-6 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-6 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 780,
        "wires": [
            [
                "8e3ff5debcd8256c"
            ]
        ]
    },
    {
        "id": "8e3ff5debcd8256c",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-6 Button",
        "group": "a6dbb44b8889dd75",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 780,
        "wires": [
            [
                "8f6e68a1661f0889"
            ]
        ]
    },
    {
        "id": "8f6e68a1661f0889",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-6\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 780,
        "wires": [
            [
                "a6eede62ea647096"
            ]
        ]
    },
    {
        "id": "a6eede62ea647096",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-6 tab",
        "events": "all",
        "x": 1560,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "793b1b70488c5dec",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-7-dnp3-master.connected",
        "updates": false,
        "x": 210,
        "y": 840,
        "wires": [
            [
                "db9f0b91467378bb",
                "e9c96a96f91d2a51"
            ]
        ]
    },
    {
        "id": "db9f0b91467378bb",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 840,
        "wires": []
    },
    {
        "id": "57a77a2aab520717",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-7 Button",
        "group": "a6dbb44b8889dd75",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 920,
        "wires": [
            [
                "8f92f9c1b0733188"
            ]
        ]
    },
    {
        "id": "e9c96a96f91d2a51",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-7 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-7 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 920,
        "wires": [
            [
                "57a77a2aab520717"
            ]
        ]
    },
    {
        "id": "8f92f9c1b0733188",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-7\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 920,
        "wires": [
            [
                "d608be5434d241cc"
            ]
        ]
    },
    {
        "id": "d608be5434d241cc",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-7 tab",
        "events": "all",
        "x": 760,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "71000ecb5acac3cd",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-8-dnp3-master.connected",
        "updates": false,
        "x": 1010,
        "y": 840,
        "wires": [
            [
                "ca90fb095775740c",
                "0627c5c7a3024b37"
            ]
        ]
    },
    {
        "id": "ca90fb095775740c",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 840,
        "wires": []
    },
    {
        "id": "0627c5c7a3024b37",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-8 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-8 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 920,
        "wires": [
            [
                "baaea4ba3bf4d3a7"
            ]
        ]
    },
    {
        "id": "baaea4ba3bf4d3a7",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-8 Button",
        "group": "a6dbb44b8889dd75",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 920,
        "wires": [
            [
                "2fc038065c8dd0b5"
            ]
        ]
    },
    {
        "id": "2fc038065c8dd0b5",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-8\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 920,
        "wires": [
            [
                "8dce258635039428"
            ]
        ]
    },
    {
        "id": "8dce258635039428",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-8 tab",
        "events": "all",
        "x": 1560,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "07a8dfcbde6b5867",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-9-dnp3-master.connected",
        "updates": false,
        "x": 210,
        "y": 980,
        "wires": [
            [
                "f56320c110650582",
                "7855fcd700f449ad"
            ]
        ]
    },
    {
        "id": "f56320c110650582",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 980,
        "wires": []
    },
    {
        "id": "c3435003585aa63a",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-9 Button",
        "group": "a6dbb44b8889dd75",
        "order": 14,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "a47405e941e28730"
            ]
        ]
    },
    {
        "id": "7855fcd700f449ad",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-9 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-9 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1060,
        "wires": [
            [
                "c3435003585aa63a"
            ]
        ]
    },
    {
        "id": "a47405e941e28730",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-9\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "72f1e8525030dfaa"
            ]
        ]
    },
    {
        "id": "72f1e8525030dfaa",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-9 tab",
        "events": "all",
        "x": 760,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "3f0f27ae32f76921",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "tag": "wtg-10-dnp3-master.connected",
        "updates": false,
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "e31f34600a15d556",
                "4c5a583042497528"
            ]
        ]
    },
    {
        "id": "e31f34600a15d556",
        "type": "debug",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "debug-wtg-10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 980,
        "wires": []
    },
    {
        "id": "4c5a583042497528",
        "type": "function",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "button-color",
        "func": "if(msg.payload==1){\n    msg.background=\"green\"\n    msg.label=\"WTG-10 Up\"\n    return msg;\n}else{\n    msg.background=\"red\"\n    msg.label=\"WTG-10 Down\"\n    return msg;}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1060,
        "wires": [
            [
                "7702eb31b1d19aaa"
            ]
        ]
    },
    {
        "id": "7702eb31b1d19aaa",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-10 Button",
        "group": "a6dbb44b8889dd75",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 1060,
        "wires": [
            [
                "98d532f91e5e1bd5"
            ]
        ]
    },
    {
        "id": "98d532f91e5e1bd5",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"WTG-10\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1390,
        "y": 1060,
        "wires": [
            [
                "c6b5245e70bb4165"
            ]
        ]
    },
    {
        "id": "c6b5245e70bb4165",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "3ef915e5ea175076",
        "name": "WTG-10 tab",
        "events": "all",
        "x": 1560,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "52963f8b1a36a0a7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d7b10c5bd5cf0180",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5c463626fac3acab",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5e3e1a9514b9d7a7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c460cb8ee7381e50",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-yaw.setpoint",
        "updates": false,
        "x": 1020,
        "y": 1460,
        "wires": [
            [
                "5e3e1a9514b9d7a7"
            ]
        ]
    },
    {
        "id": "0a1ee21bdc096945",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-yaw.current",
        "updates": false,
        "x": 1020,
        "y": 1400,
        "wires": [
            [
                "5c463626fac3acab"
            ]
        ]
    },
    {
        "id": "9b8e25500eb4dc30",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-pressure",
        "updates": false,
        "x": 1010,
        "y": 1340,
        "wires": [
            [
                "db8bb56e27cf110c"
            ]
        ]
    },
    {
        "id": "d00548467551ca50",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-temp.high",
        "updates": false,
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "ea736921cc5639ec"
            ]
        ]
    },
    {
        "id": "eeefd2886ae61957",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-speed.high",
        "updates": false,
        "x": 1020,
        "y": 1160,
        "wires": [
            [
                "d7b10c5bd5cf0180"
            ]
        ]
    },
    {
        "id": "ade22feb0b43d76d",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-dir.high",
        "updates": false,
        "x": 1000,
        "y": 1220,
        "wires": [
            [
                "52963f8b1a36a0a7"
            ]
        ]
    },
    {
        "id": "db8bb56e27cf110c",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "group": "e6486a846f78c532",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ea736921cc5639ec",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "group": "e6486a846f78c532",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 1280,
        "wires": []
    },
    {
        "id": "51030b553b84c9ec",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-turbine.mw-output",
        "updates": false,
        "x": 1040,
        "y": 1520,
        "wires": [
            [
                "0fc56d6581f72d7c"
            ]
        ]
    },
    {
        "id": "0fc56d6581f72d7c",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "group": "e6486a846f78c532",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 1520,
        "wires": []
    },
    {
        "id": "19cdc4e832d4a076",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "Farm",
        "group": "e6486a846f78c532",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 1900,
        "wires": [
            [
                "68e35c2a9b6885c4"
            ]
        ]
    },
    {
        "id": "68e35c2a9b6885c4",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 1900,
        "wires": [
            [
                "84245cab5cef2fd0"
            ]
        ]
    },
    {
        "id": "84245cab5cef2fd0",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "Farm tab",
        "events": "all",
        "x": 1280,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "b35a712104c2cfaf",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-feathered",
        "updates": false,
        "x": 1010,
        "y": 1580,
        "wires": [
            [
                "6ba9187011e5f807"
            ]
        ]
    },
    {
        "id": "6ba9187011e5f807",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "group": "e6486a846f78c532",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1525d83558aeeed4",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-turbine.emergency-stop",
        "updates": false,
        "x": 1070,
        "y": 1740,
        "wires": [
            [
                "70e6cabf8519d31b",
                "e97baf4d05cf9514"
            ]
        ]
    },
    {
        "id": "0646f7de84ded5a2",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "tag": "wtg-2-turbine.emergency-stop",
        "x": 1560,
        "y": 1740,
        "wires": []
    },
    {
        "id": "70e6cabf8519d31b",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1660,
        "wires": [
            [
                "03907fbc4a2ee6fb"
            ]
        ]
    },
    {
        "id": "e97baf4d05cf9514",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1820,
        "wires": [
            [
                "4b2d95d59c82c22e"
            ]
        ]
    },
    {
        "id": "03907fbc4a2ee6fb",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 1660,
        "wires": [
            [
                "0646f7de84ded5a2"
            ]
        ]
    },
    {
        "id": "4b2d95d59c82c22e",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "20349bb35f51008a",
        "name": "",
        "group": "e6486a846f78c532",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 1820,
        "wires": [
            [
                "0646f7de84ded5a2"
            ]
        ]
    },
    {
        "id": "3a60a5d65b33bf60",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 2060,
        "wires": []
    },
    {
        "id": "b6f58256fe4abd58",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 2000,
        "wires": []
    },
    {
        "id": "18296322e443e55e",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 2240,
        "wires": []
    },
    {
        "id": "a4c2d7fe9f4a7933",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 2300,
        "wires": []
    },
    {
        "id": "f47c340ab5e282af",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-yaw.setpoint",
        "updates": false,
        "x": 180,
        "y": 2300,
        "wires": [
            [
                "a4c2d7fe9f4a7933"
            ]
        ]
    },
    {
        "id": "d90572ab879a02e3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-yaw.current",
        "updates": false,
        "x": 180,
        "y": 2240,
        "wires": [
            [
                "18296322e443e55e"
            ]
        ]
    },
    {
        "id": "ab34f3f2da68d803",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-pressure",
        "updates": false,
        "x": 170,
        "y": 2180,
        "wires": [
            [
                "57af0682132b5a25"
            ]
        ]
    },
    {
        "id": "e2a884663941631e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-temp.high",
        "updates": false,
        "x": 170,
        "y": 2120,
        "wires": [
            [
                "20641563b77422b8"
            ]
        ]
    },
    {
        "id": "b766d28717f8f403",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-speed.high",
        "updates": false,
        "x": 180,
        "y": 2000,
        "wires": [
            [
                "b6f58256fe4abd58"
            ]
        ]
    },
    {
        "id": "720b051018abe1bd",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-dir.high",
        "updates": false,
        "x": 160,
        "y": 2060,
        "wires": [
            [
                "3a60a5d65b33bf60"
            ]
        ]
    },
    {
        "id": "57af0682132b5a25",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "group": "b15f1775be017a88",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 2180,
        "wires": []
    },
    {
        "id": "20641563b77422b8",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "group": "b15f1775be017a88",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 2120,
        "wires": []
    },
    {
        "id": "ee78ac1b32236ad7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-turbine.mw-output",
        "updates": false,
        "x": 200,
        "y": 2360,
        "wires": [
            [
                "4e5c73b1daebb0a4"
            ]
        ]
    },
    {
        "id": "4e5c73b1daebb0a4",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "group": "b15f1775be017a88",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 2360,
        "wires": []
    },
    {
        "id": "bcefc6b4b1f933cf",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "Farm",
        "group": "b15f1775be017a88",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 2740,
        "wires": [
            [
                "e6277c2486dc413d"
            ]
        ]
    },
    {
        "id": "e6277c2486dc413d",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 2740,
        "wires": [
            [
                "189ec02a713a6f79"
            ]
        ]
    },
    {
        "id": "189ec02a713a6f79",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "Farm tab",
        "events": "all",
        "x": 440,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "b6dee8f247defc32",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-feathered",
        "updates": false,
        "x": 170,
        "y": 2420,
        "wires": [
            [
                "e63f2e3f8815213b"
            ]
        ]
    },
    {
        "id": "e63f2e3f8815213b",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "group": "b15f1775be017a88",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 2420,
        "wires": []
    },
    {
        "id": "7e0e2542a21bd1b8",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-turbine.emergency-stop",
        "updates": false,
        "x": 230,
        "y": 2580,
        "wires": [
            [
                "94bdb2942be31b64",
                "52efdfdf435deb25"
            ]
        ]
    },
    {
        "id": "d2128c4f9b7b1148",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "tag": "wtg-3-turbine.emergency-stop",
        "x": 720,
        "y": 2580,
        "wires": []
    },
    {
        "id": "94bdb2942be31b64",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 2500,
        "wires": [
            [
                "e006fbea7b28f5d8"
            ]
        ]
    },
    {
        "id": "52efdfdf435deb25",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 2660,
        "wires": [
            [
                "231d435f52d22084"
            ]
        ]
    },
    {
        "id": "e006fbea7b28f5d8",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 2500,
        "wires": [
            [
                "d2128c4f9b7b1148"
            ]
        ]
    },
    {
        "id": "231d435f52d22084",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "203f375532e95a85",
        "name": "",
        "group": "b15f1775be017a88",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 2660,
        "wires": [
            [
                "d2128c4f9b7b1148"
            ]
        ]
    },
    {
        "id": "751d96ee76f6849e",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 2060,
        "wires": []
    },
    {
        "id": "a2d1051ebd93dea6",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 2000,
        "wires": []
    },
    {
        "id": "400d721fd356017b",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 2240,
        "wires": []
    },
    {
        "id": "43f612aa5d0eb319",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 2300,
        "wires": []
    },
    {
        "id": "094ea2b2bda37568",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-yaw.setpoint",
        "updates": false,
        "x": 1020,
        "y": 2300,
        "wires": [
            [
                "43f612aa5d0eb319"
            ]
        ]
    },
    {
        "id": "54e2c27724a76876",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-yaw.current",
        "updates": false,
        "x": 1020,
        "y": 2240,
        "wires": [
            [
                "400d721fd356017b"
            ]
        ]
    },
    {
        "id": "4ac40dc4c44d7a0d",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-pressure",
        "updates": false,
        "x": 1010,
        "y": 2180,
        "wires": [
            [
                "c327892c2e2ff048"
            ]
        ]
    },
    {
        "id": "8ce01eca90517df3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-temp.high",
        "updates": false,
        "x": 1010,
        "y": 2120,
        "wires": [
            [
                "f27b75abfc20c6fa"
            ]
        ]
    },
    {
        "id": "1acfd48a21589af7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-speed.high",
        "updates": false,
        "x": 1020,
        "y": 2000,
        "wires": [
            [
                "a2d1051ebd93dea6"
            ]
        ]
    },
    {
        "id": "3abea2272e1ab912",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-dir.high",
        "updates": false,
        "x": 1000,
        "y": 2060,
        "wires": [
            [
                "751d96ee76f6849e"
            ]
        ]
    },
    {
        "id": "c327892c2e2ff048",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "group": "ec7892ca41f286b9",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 2180,
        "wires": []
    },
    {
        "id": "f27b75abfc20c6fa",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "group": "ec7892ca41f286b9",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 2120,
        "wires": []
    },
    {
        "id": "251c6769cd4c9828",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-turbine.mw-output",
        "updates": false,
        "x": 1040,
        "y": 2360,
        "wires": [
            [
                "0cb1ff434ceab702"
            ]
        ]
    },
    {
        "id": "0cb1ff434ceab702",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "group": "ec7892ca41f286b9",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 2360,
        "wires": []
    },
    {
        "id": "833d52cff5c1bf9c",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "Farm",
        "group": "ec7892ca41f286b9",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 2740,
        "wires": [
            [
                "4f6d41c45705dfc7"
            ]
        ]
    },
    {
        "id": "4f6d41c45705dfc7",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 2740,
        "wires": [
            [
                "1ed988c81e087115"
            ]
        ]
    },
    {
        "id": "1ed988c81e087115",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "Farm tab",
        "events": "all",
        "x": 1280,
        "y": 2740,
        "wires": [
            []
        ]
    },
    {
        "id": "c3e922d78f79cd6b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-feathered",
        "updates": false,
        "x": 1010,
        "y": 2420,
        "wires": [
            [
                "60bf3753012d7dae"
            ]
        ]
    },
    {
        "id": "60bf3753012d7dae",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "group": "ec7892ca41f286b9",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 2420,
        "wires": []
    },
    {
        "id": "f242588a66039431",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-turbine.emergency-stop",
        "updates": false,
        "x": 1070,
        "y": 2580,
        "wires": [
            [
                "bb808a2834a745df",
                "4e1e8582bfd6f488"
            ]
        ]
    },
    {
        "id": "a081905b882b4e6c",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "tag": "wtg-4-turbine.emergency-stop",
        "x": 1560,
        "y": 2580,
        "wires": []
    },
    {
        "id": "bb808a2834a745df",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 2500,
        "wires": [
            [
                "c6debbb742f4fd99"
            ]
        ]
    },
    {
        "id": "4e1e8582bfd6f488",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 2660,
        "wires": [
            [
                "5c9ff39733a7e199"
            ]
        ]
    },
    {
        "id": "c6debbb742f4fd99",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 2500,
        "wires": [
            [
                "a081905b882b4e6c"
            ]
        ]
    },
    {
        "id": "5c9ff39733a7e199",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "62a1e7a24e9273b3",
        "name": "",
        "group": "ec7892ca41f286b9",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 2660,
        "wires": [
            [
                "a081905b882b4e6c"
            ]
        ]
    },
    {
        "id": "3ab133c00453a487",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 2900,
        "wires": []
    },
    {
        "id": "514cf710ca75ba4a",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 2840,
        "wires": []
    },
    {
        "id": "f6592275d06609e9",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 3080,
        "wires": []
    },
    {
        "id": "7289b389f91ada24",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 3140,
        "wires": []
    },
    {
        "id": "01a81dc90957372b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-yaw.setpoint",
        "updates": false,
        "x": 180,
        "y": 3140,
        "wires": [
            [
                "7289b389f91ada24"
            ]
        ]
    },
    {
        "id": "96cfa0f34bd14446",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-yaw.current",
        "updates": false,
        "x": 180,
        "y": 3080,
        "wires": [
            [
                "f6592275d06609e9"
            ]
        ]
    },
    {
        "id": "680ce7e8b9980b5d",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-pressure",
        "updates": false,
        "x": 170,
        "y": 3020,
        "wires": [
            [
                "a1a6e54fa6d47de2"
            ]
        ]
    },
    {
        "id": "37fd7854aa6bc7ad",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-temp.high",
        "updates": false,
        "x": 170,
        "y": 2960,
        "wires": [
            [
                "30454fb9b607c6cd"
            ]
        ]
    },
    {
        "id": "8cae8bd87911f4b5",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-speed.high",
        "updates": false,
        "x": 180,
        "y": 2840,
        "wires": [
            [
                "514cf710ca75ba4a"
            ]
        ]
    },
    {
        "id": "eae8ab5a7cb7849f",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-dir.high",
        "updates": false,
        "x": 160,
        "y": 2900,
        "wires": [
            [
                "3ab133c00453a487"
            ]
        ]
    },
    {
        "id": "a1a6e54fa6d47de2",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "group": "b8b1c6b18374e8a1",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 3020,
        "wires": []
    },
    {
        "id": "30454fb9b607c6cd",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "group": "b8b1c6b18374e8a1",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 2960,
        "wires": []
    },
    {
        "id": "0c1365a92dbfe29c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-turbine.mw-output",
        "updates": false,
        "x": 200,
        "y": 3200,
        "wires": [
            [
                "d2521fe3d38faf21"
            ]
        ]
    },
    {
        "id": "d2521fe3d38faf21",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "group": "b8b1c6b18374e8a1",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 3200,
        "wires": []
    },
    {
        "id": "16fd23955706c8be",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "Farm",
        "group": "b8b1c6b18374e8a1",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 3580,
        "wires": [
            [
                "da8b927548d37601"
            ]
        ]
    },
    {
        "id": "da8b927548d37601",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 3580,
        "wires": [
            [
                "5b03bced10635081"
            ]
        ]
    },
    {
        "id": "5b03bced10635081",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "Farm tab",
        "events": "all",
        "x": 440,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "ba739babe17efb60",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-feathered",
        "updates": false,
        "x": 170,
        "y": 3260,
        "wires": [
            [
                "3030972578c7d522"
            ]
        ]
    },
    {
        "id": "3030972578c7d522",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "group": "b8b1c6b18374e8a1",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 3260,
        "wires": []
    },
    {
        "id": "404f15162f0b6803",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-turbine.emergency-stop",
        "updates": false,
        "x": 230,
        "y": 3420,
        "wires": [
            [
                "bb108e7c63450180",
                "0f8d477ac6a4637b"
            ]
        ]
    },
    {
        "id": "568e5120bed913ad",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "tag": "wtg-5-turbine.emergency-stop",
        "x": 720,
        "y": 3420,
        "wires": []
    },
    {
        "id": "bb108e7c63450180",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 3340,
        "wires": [
            [
                "af38be78de27e861"
            ]
        ]
    },
    {
        "id": "0f8d477ac6a4637b",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 3500,
        "wires": [
            [
                "84a5234439955fe2"
            ]
        ]
    },
    {
        "id": "af38be78de27e861",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 3340,
        "wires": [
            [
                "568e5120bed913ad"
            ]
        ]
    },
    {
        "id": "84a5234439955fe2",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "c76fc9a7edf93fe8",
        "name": "",
        "group": "b8b1c6b18374e8a1",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 3500,
        "wires": [
            [
                "568e5120bed913ad"
            ]
        ]
    },
    {
        "id": "aefeaa90f900af18",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 2900,
        "wires": []
    },
    {
        "id": "c858849f59bcab5a",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 2840,
        "wires": []
    },
    {
        "id": "575fcb446172bf63",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 3080,
        "wires": []
    },
    {
        "id": "a215dc6556dbda02",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 3140,
        "wires": []
    },
    {
        "id": "572cfbb315bd1830",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-yaw.setpoint",
        "updates": false,
        "x": 1020,
        "y": 3140,
        "wires": [
            [
                "a215dc6556dbda02"
            ]
        ]
    },
    {
        "id": "e7e3e4223cd2c2ca",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-yaw.current",
        "updates": false,
        "x": 1020,
        "y": 3080,
        "wires": [
            [
                "575fcb446172bf63"
            ]
        ]
    },
    {
        "id": "9e06ae9f32750529",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-pressure",
        "updates": false,
        "x": 1010,
        "y": 3020,
        "wires": [
            [
                "a697934465b36454"
            ]
        ]
    },
    {
        "id": "32c083b433445a7c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-temp.high",
        "updates": false,
        "x": 1010,
        "y": 2960,
        "wires": [
            [
                "82710a25da98bdad"
            ]
        ]
    },
    {
        "id": "8f9354a537c7f4fb",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-speed.high",
        "updates": false,
        "x": 1020,
        "y": 2840,
        "wires": [
            [
                "c858849f59bcab5a"
            ]
        ]
    },
    {
        "id": "9314b0b4f9765d60",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-dir.high",
        "updates": false,
        "x": 1000,
        "y": 2900,
        "wires": [
            [
                "aefeaa90f900af18"
            ]
        ]
    },
    {
        "id": "a697934465b36454",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "group": "246054ac451e1ad2",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 3020,
        "wires": []
    },
    {
        "id": "82710a25da98bdad",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "group": "246054ac451e1ad2",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 2960,
        "wires": []
    },
    {
        "id": "22020ee34d139177",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-turbine.mw-output",
        "updates": false,
        "x": 1040,
        "y": 3200,
        "wires": [
            [
                "0b51349e7a7d0746"
            ]
        ]
    },
    {
        "id": "0b51349e7a7d0746",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "group": "246054ac451e1ad2",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 3200,
        "wires": []
    },
    {
        "id": "5db49a23d9768625",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "Farm",
        "group": "246054ac451e1ad2",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 3580,
        "wires": [
            [
                "12204836d1a02930"
            ]
        ]
    },
    {
        "id": "12204836d1a02930",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 3580,
        "wires": [
            [
                "234f92ab991ef203"
            ]
        ]
    },
    {
        "id": "234f92ab991ef203",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "Farm tab",
        "events": "all",
        "x": 1280,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "74b5a2eb07086c99",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-feathered",
        "updates": false,
        "x": 1010,
        "y": 3260,
        "wires": [
            [
                "20791fcb1c253279"
            ]
        ]
    },
    {
        "id": "20791fcb1c253279",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "group": "246054ac451e1ad2",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 3260,
        "wires": []
    },
    {
        "id": "d1a883ecb08fbe50",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-turbine.emergency-stop",
        "updates": false,
        "x": 1070,
        "y": 3420,
        "wires": [
            [
                "e75466feb1fa120a",
                "f8e73dc4419520e4"
            ]
        ]
    },
    {
        "id": "8ba8c4eb6ede912b",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "tag": "wtg-6-turbine.emergency-stop",
        "x": 1560,
        "y": 3420,
        "wires": []
    },
    {
        "id": "e75466feb1fa120a",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 3340,
        "wires": [
            [
                "3dc9a439356ed26b"
            ]
        ]
    },
    {
        "id": "f8e73dc4419520e4",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 3500,
        "wires": [
            [
                "7a8f9549ec697324"
            ]
        ]
    },
    {
        "id": "3dc9a439356ed26b",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 3340,
        "wires": [
            [
                "8ba8c4eb6ede912b"
            ]
        ]
    },
    {
        "id": "7a8f9549ec697324",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "6945dc86e240e5ed",
        "name": "",
        "group": "246054ac451e1ad2",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 3500,
        "wires": [
            [
                "8ba8c4eb6ede912b"
            ]
        ]
    },
    {
        "id": "e48a832fb2ffc6fd",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 3740,
        "wires": []
    },
    {
        "id": "a980efc85a05d4b7",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 3680,
        "wires": []
    },
    {
        "id": "836059b93b2471f8",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 3920,
        "wires": []
    },
    {
        "id": "7a6dad8455f25b90",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 3980,
        "wires": []
    },
    {
        "id": "593394c0dc603016",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-yaw.setpoint",
        "updates": false,
        "x": 180,
        "y": 3980,
        "wires": [
            [
                "7a6dad8455f25b90"
            ]
        ]
    },
    {
        "id": "7bb0c5d3f07d0396",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-yaw.current",
        "updates": false,
        "x": 180,
        "y": 3920,
        "wires": [
            [
                "836059b93b2471f8"
            ]
        ]
    },
    {
        "id": "4f2930346a2d55d7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-pressure",
        "updates": false,
        "x": 170,
        "y": 3860,
        "wires": [
            [
                "7cccb5d6c0667f1a"
            ]
        ]
    },
    {
        "id": "d39beb5c6c9921b4",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-temp.high",
        "updates": false,
        "x": 170,
        "y": 3800,
        "wires": [
            [
                "2ee57980ca31f544"
            ]
        ]
    },
    {
        "id": "2a34ef179888c210",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-speed.high",
        "updates": false,
        "x": 180,
        "y": 3680,
        "wires": [
            [
                "a980efc85a05d4b7"
            ]
        ]
    },
    {
        "id": "4a06149f6ecea6f7",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-dir.high",
        "updates": false,
        "x": 160,
        "y": 3740,
        "wires": [
            [
                "e48a832fb2ffc6fd"
            ]
        ]
    },
    {
        "id": "7cccb5d6c0667f1a",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "group": "a40935e2b398edbd",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 3860,
        "wires": []
    },
    {
        "id": "2ee57980ca31f544",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "group": "a40935e2b398edbd",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 3800,
        "wires": []
    },
    {
        "id": "66446aea76fd872a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-turbine.mw-output",
        "updates": false,
        "x": 200,
        "y": 4040,
        "wires": [
            [
                "9567236711ff7f56"
            ]
        ]
    },
    {
        "id": "9567236711ff7f56",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "group": "a40935e2b398edbd",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 4040,
        "wires": []
    },
    {
        "id": "04666c17e44162e4",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "Farm",
        "group": "a40935e2b398edbd",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 4420,
        "wires": [
            [
                "0a9d437b8e50e3e6"
            ]
        ]
    },
    {
        "id": "0a9d437b8e50e3e6",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 4420,
        "wires": [
            [
                "99b27d312f21839a"
            ]
        ]
    },
    {
        "id": "99b27d312f21839a",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "Farm tab",
        "events": "all",
        "x": 440,
        "y": 4420,
        "wires": [
            []
        ]
    },
    {
        "id": "506fde9f001a53fe",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-feathered",
        "updates": false,
        "x": 170,
        "y": 4100,
        "wires": [
            [
                "dbd74d96f657f12c"
            ]
        ]
    },
    {
        "id": "dbd74d96f657f12c",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "group": "a40935e2b398edbd",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 4100,
        "wires": []
    },
    {
        "id": "51dac07476ec1ca6",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-turbine.emergency-stop",
        "updates": false,
        "x": 230,
        "y": 4260,
        "wires": [
            [
                "c3b116842d9ba062",
                "4673b6ab1f7b58ba"
            ]
        ]
    },
    {
        "id": "9818d54b545e917a",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "tag": "wtg-7-turbine.emergency-stop",
        "x": 720,
        "y": 4260,
        "wires": []
    },
    {
        "id": "c3b116842d9ba062",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 4180,
        "wires": [
            [
                "7ed30dfd961f0920"
            ]
        ]
    },
    {
        "id": "4673b6ab1f7b58ba",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 4340,
        "wires": [
            [
                "4c75782337d339c1"
            ]
        ]
    },
    {
        "id": "7ed30dfd961f0920",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 4180,
        "wires": [
            [
                "9818d54b545e917a"
            ]
        ]
    },
    {
        "id": "4c75782337d339c1",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "db92cb1f066b66cd",
        "name": "",
        "group": "a40935e2b398edbd",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 4340,
        "wires": [
            [
                "9818d54b545e917a"
            ]
        ]
    },
    {
        "id": "0c9d44536578bc2a",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 3740,
        "wires": []
    },
    {
        "id": "5d23b02f009791b2",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 3680,
        "wires": []
    },
    {
        "id": "7ff3b4adb5d2114f",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 3920,
        "wires": []
    },
    {
        "id": "4f2c8980260ac883",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 3980,
        "wires": []
    },
    {
        "id": "bd4b198c1601d00a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-yaw.setpoint",
        "updates": false,
        "x": 1020,
        "y": 3980,
        "wires": [
            [
                "4f2c8980260ac883"
            ]
        ]
    },
    {
        "id": "973a5d6a691129ce",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-yaw.current",
        "updates": false,
        "x": 1020,
        "y": 3920,
        "wires": [
            [
                "7ff3b4adb5d2114f"
            ]
        ]
    },
    {
        "id": "c512f96fd6967bc9",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-pressure",
        "updates": false,
        "x": 1010,
        "y": 3860,
        "wires": [
            [
                "a279ef9a9a4bedaf"
            ]
        ]
    },
    {
        "id": "fa99774e2fb2efdf",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-temp.high",
        "updates": false,
        "x": 1010,
        "y": 3800,
        "wires": [
            [
                "83a3c93e386dc34d"
            ]
        ]
    },
    {
        "id": "cbc46dcb397ee78a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-speed.high",
        "updates": false,
        "x": 1020,
        "y": 3680,
        "wires": [
            [
                "5d23b02f009791b2"
            ]
        ]
    },
    {
        "id": "eaebca50978a805e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-dir.high",
        "updates": false,
        "x": 1000,
        "y": 3740,
        "wires": [
            [
                "0c9d44536578bc2a"
            ]
        ]
    },
    {
        "id": "a279ef9a9a4bedaf",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "group": "a09a50f4e09afe34",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 3860,
        "wires": []
    },
    {
        "id": "83a3c93e386dc34d",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "group": "a09a50f4e09afe34",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 3800,
        "wires": []
    },
    {
        "id": "234796d8142da763",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-turbine.mw-output",
        "updates": false,
        "x": 1040,
        "y": 4040,
        "wires": [
            [
                "96b0b3516031c947"
            ]
        ]
    },
    {
        "id": "96b0b3516031c947",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "group": "a09a50f4e09afe34",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 4040,
        "wires": []
    },
    {
        "id": "40fb8e034f07dcab",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "Farm",
        "group": "a09a50f4e09afe34",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 4420,
        "wires": [
            [
                "9d2eeb17b4a0ab4c"
            ]
        ]
    },
    {
        "id": "9d2eeb17b4a0ab4c",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 4420,
        "wires": [
            [
                "416899e0e2e5e733"
            ]
        ]
    },
    {
        "id": "416899e0e2e5e733",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "Farm tab",
        "events": "all",
        "x": 1280,
        "y": 4420,
        "wires": [
            []
        ]
    },
    {
        "id": "58a347221203f425",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-feathered",
        "updates": false,
        "x": 1010,
        "y": 4100,
        "wires": [
            [
                "01a1e4be240890ae"
            ]
        ]
    },
    {
        "id": "01a1e4be240890ae",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "group": "a09a50f4e09afe34",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 4100,
        "wires": []
    },
    {
        "id": "29791d701de5da2b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-turbine.emergency-stop",
        "updates": false,
        "x": 1070,
        "y": 4260,
        "wires": [
            [
                "48408b32c6e6f203",
                "37844e023aaa868c"
            ]
        ]
    },
    {
        "id": "b588b9f54bbfb91b",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "tag": "wtg-8-turbine.emergency-stop",
        "x": 1560,
        "y": 4260,
        "wires": []
    },
    {
        "id": "48408b32c6e6f203",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 4180,
        "wires": [
            [
                "3c37776b748f9764"
            ]
        ]
    },
    {
        "id": "37844e023aaa868c",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 4340,
        "wires": [
            [
                "601e112b22c0d84d"
            ]
        ]
    },
    {
        "id": "3c37776b748f9764",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 4180,
        "wires": [
            [
                "b588b9f54bbfb91b"
            ]
        ]
    },
    {
        "id": "601e112b22c0d84d",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "16bd1bbfd99f8833",
        "name": "",
        "group": "a09a50f4e09afe34",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 4340,
        "wires": [
            [
                "b588b9f54bbfb91b"
            ]
        ]
    },
    {
        "id": "40fbdb93eca31126",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 4580,
        "wires": []
    },
    {
        "id": "486b1d820ffb1ab2",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 4520,
        "wires": []
    },
    {
        "id": "e84aa7503ed11004",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 4760,
        "wires": []
    },
    {
        "id": "f3658281dda2a2ea",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 4820,
        "wires": []
    },
    {
        "id": "2e9cb444216482cf",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-yaw.setpoint",
        "updates": false,
        "x": 180,
        "y": 4820,
        "wires": [
            [
                "f3658281dda2a2ea"
            ]
        ]
    },
    {
        "id": "3c665dc424e6baa5",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-yaw.current",
        "updates": false,
        "x": 180,
        "y": 4760,
        "wires": [
            [
                "e84aa7503ed11004"
            ]
        ]
    },
    {
        "id": "5a955c9b0e0df1b3",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-pressure",
        "updates": false,
        "x": 170,
        "y": 4700,
        "wires": [
            [
                "ee4ec79d8808dd2d"
            ]
        ]
    },
    {
        "id": "4bd63e4f6f10d12c",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-temp.high",
        "updates": false,
        "x": 170,
        "y": 4640,
        "wires": [
            [
                "023d357693311f53"
            ]
        ]
    },
    {
        "id": "b25d72ebd5615a50",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-speed.high",
        "updates": false,
        "x": 180,
        "y": 4520,
        "wires": [
            [
                "486b1d820ffb1ab2"
            ]
        ]
    },
    {
        "id": "f67a860f30493c6b",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-dir.high",
        "updates": false,
        "x": 160,
        "y": 4580,
        "wires": [
            [
                "40fbdb93eca31126"
            ]
        ]
    },
    {
        "id": "ee4ec79d8808dd2d",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "group": "3eae77f4bcd43090",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 4700,
        "wires": []
    },
    {
        "id": "023d357693311f53",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "group": "3eae77f4bcd43090",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 4640,
        "wires": []
    },
    {
        "id": "6bfbc1a1e635c1f5",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-turbine.mw-output",
        "updates": false,
        "x": 200,
        "y": 4880,
        "wires": [
            [
                "8eda768abdbaa298"
            ]
        ]
    },
    {
        "id": "8eda768abdbaa298",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "group": "3eae77f4bcd43090",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 4880,
        "wires": []
    },
    {
        "id": "c6021b2e09f09daa",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "Farm",
        "group": "3eae77f4bcd43090",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 5260,
        "wires": [
            [
                "52164673d0bef21f"
            ]
        ]
    },
    {
        "id": "52164673d0bef21f",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 5260,
        "wires": [
            [
                "81af869b5f6694f0"
            ]
        ]
    },
    {
        "id": "81af869b5f6694f0",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "Farm tab",
        "events": "all",
        "x": 440,
        "y": 5260,
        "wires": [
            []
        ]
    },
    {
        "id": "2e8dcce41989a16a",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-feathered",
        "updates": false,
        "x": 170,
        "y": 4940,
        "wires": [
            [
                "6253c271956d2dc4"
            ]
        ]
    },
    {
        "id": "6253c271956d2dc4",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "group": "3eae77f4bcd43090",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 4940,
        "wires": []
    },
    {
        "id": "3b1daf085de894fb",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-turbine.emergency-stop",
        "updates": false,
        "x": 230,
        "y": 5100,
        "wires": [
            [
                "b7fc9c62eb86425a",
                "4ddd5fc39add2d3c"
            ]
        ]
    },
    {
        "id": "939a63a46bb86e43",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "tag": "wtg-9-turbine.emergency-stop",
        "x": 720,
        "y": 5100,
        "wires": []
    },
    {
        "id": "b7fc9c62eb86425a",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 5020,
        "wires": [
            [
                "ce350ac85de01e27"
            ]
        ]
    },
    {
        "id": "4ddd5fc39add2d3c",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 5180,
        "wires": [
            [
                "e679871dfdf04549"
            ]
        ]
    },
    {
        "id": "ce350ac85de01e27",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 5020,
        "wires": [
            [
                "939a63a46bb86e43"
            ]
        ]
    },
    {
        "id": "e679871dfdf04549",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "474b16e329a051da",
        "name": "",
        "group": "3eae77f4bcd43090",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 5180,
        "wires": [
            [
                "939a63a46bb86e43"
            ]
        ]
    },
    {
        "id": "13412460b8bf0daf",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 4580,
        "wires": []
    },
    {
        "id": "810f2e656c1e48d2",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{value | number:0}}",
        "min": "0",
        "max": "25",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 4520,
        "wires": []
    },
    {
        "id": "c084abfdf4969de8",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 2,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Current",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 4760,
        "wires": []
    },
    {
        "id": "04590d0a47ea433e",
        "type": "ui_gauge",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "compass",
        "title": "Yaw Set-point",
        "label": "deg",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1280,
        "y": 4820,
        "wires": []
    },
    {
        "id": "fda93da0c9dce8de",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-yaw.setpoint",
        "updates": false,
        "x": 1020,
        "y": 4820,
        "wires": [
            [
                "04590d0a47ea433e"
            ]
        ]
    },
    {
        "id": "b4704a848e58cb65",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-yaw.current",
        "updates": false,
        "x": 1020,
        "y": 4760,
        "wires": [
            [
                "c084abfdf4969de8"
            ]
        ]
    },
    {
        "id": "b6b28bb7055fff5e",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-pressure",
        "updates": false,
        "x": 1010,
        "y": 4700,
        "wires": [
            [
                "02eff55ea424d172"
            ]
        ]
    },
    {
        "id": "a8bf00a214c7ed86",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-temp.high",
        "updates": false,
        "x": 1020,
        "y": 4640,
        "wires": [
            [
                "2f02754f12882334"
            ]
        ]
    },
    {
        "id": "2254528dad93a867",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-speed.high",
        "updates": false,
        "x": 1020,
        "y": 4520,
        "wires": [
            [
                "810f2e656c1e48d2"
            ]
        ]
    },
    {
        "id": "73e539c190f97537",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-dir.high",
        "updates": false,
        "x": 1010,
        "y": 4580,
        "wires": [
            [
                "13412460b8bf0daf"
            ]
        ]
    },
    {
        "id": "02eff55ea424d172",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "group": "9fe1407a14d129f9",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Absolute Pressure (kPa)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1310,
        "y": 4700,
        "wires": []
    },
    {
        "id": "2f02754f12882334",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "group": "9fe1407a14d129f9",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temp (C)",
        "format": "{{msg.payload | number:1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 4640,
        "wires": []
    },
    {
        "id": "30c54ba03dce4999",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-turbine.mw-output",
        "updates": false,
        "x": 1040,
        "y": 4880,
        "wires": [
            [
                "39963a13548e6a83"
            ]
        ]
    },
    {
        "id": "39963a13548e6a83",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "group": "9fe1407a14d129f9",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Power Output (kW)",
        "format": "{{msg.payload | number:2}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1290,
        "y": 4880,
        "wires": []
    },
    {
        "id": "d0f1fa1c127c0927",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "Farm",
        "group": "9fe1407a14d129f9",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Farm",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 5260,
        "wires": [
            [
                "bcf6f2a74febfb40"
            ]
        ]
    },
    {
        "id": "bcf6f2a74febfb40",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "Farm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Farm\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 5260,
        "wires": [
            [
                "5dfe68bb495a1e93"
            ]
        ]
    },
    {
        "id": "5dfe68bb495a1e93",
        "type": "ui_ui_control",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "Farm tab",
        "events": "all",
        "x": 1280,
        "y": 5260,
        "wires": [
            []
        ]
    },
    {
        "id": "793932d9fd973c2f",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-feathered",
        "updates": false,
        "x": 1010,
        "y": 4940,
        "wires": [
            [
                "ab84f3cc8a189869"
            ]
        ]
    },
    {
        "id": "ab84f3cc8a189869",
        "type": "ui_text",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "group": "9fe1407a14d129f9",
        "order": 8,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Feathered",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 4940,
        "wires": []
    },
    {
        "id": "e5997fcdabc68cd6",
        "type": "ot-sim in",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-turbine.emergency-stop",
        "updates": false,
        "x": 1070,
        "y": 5100,
        "wires": [
            [
                "c54387e5c39a278b",
                "c69d2eeaa24b91a0"
            ]
        ]
    },
    {
        "id": "df2f3996f0e4048c",
        "type": "ot-sim out",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "tag": "wtg-10-turbine.emergency-stop",
        "x": 1560,
        "y": 5100,
        "wires": []
    },
    {
        "id": "c54387e5c39a278b",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "Release Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 1",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 5020,
        "wires": [
            [
                "6b000c525723feb6"
            ]
        ]
    },
    {
        "id": "c69d2eeaa24b91a0",
        "type": "change",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "Emergency Stop",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "msg.payload = 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 5180,
        "wires": [
            [
                "246e558944b5cc1a"
            ]
        ]
    },
    {
        "id": "6b000c525723feb6",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Release Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 5020,
        "wires": [
            [
                "df2f3996f0e4048c"
            ]
        ]
    },
    {
        "id": "246e558944b5cc1a",
        "type": "ui_button",
        "z": "1e4d1406de16ee4d",
        "g": "9b15f9bac398cf98",
        "name": "",
        "group": "9fe1407a14d129f9",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Emergency Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1410,
        "y": 5180,
        "wires": [
            [
                "df2f3996f0e4048c"
            ]
        ]
    }
]
